@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&family=Hammersmith+One&family=Lato:wght@100;300;400;700;900&family=Montserrat:wght@100;200;300;400;500;600;700&family=Nunito+Sans:opsz,wght@6..12,200;6..12,300;6..12,400;6..12,500;6..12,600;6..12,700&family=Playfair+Display:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Corben:wght@400;700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Montagu+Slab:opsz,wght@16..144,100..700&display=swap');

* {
    margin: 0;
    padding: 0;

}

h1 {
    font-size: 3em;
}

body {
    background-color: hsl(220, 100%, 99%);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
    max-width: 100%;
    margin: 0;
    /* 
    position: relative;
    top: 5%;*/
    background-color: hsl(220, 100%, 99%);
}

#welcome {
    background-image: url('https://images.unsplash.com/photo-1710332586149-5f09fc67e455?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-position: center;
    margin: 1% 0%;
    /*     display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    width: 100%;
    height: 60vh;
    color: #262020;*/
    background-color: #b9b09f4d;
}

.welcome-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    width: 100%;
    height: auto;
    color: #262020;
    flex-wrap: wrap;
    margin: 0%;
    background-color: #23232357;
    backdrop-filter: blur(6px);
}

.welcome-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: auto;
    width: 100%;
    max-width: 98%;
    text-align: center;
    color: #fff;
    margin: 1% 0%;
}

.welcome-content h1 {
    width: 100%;
    text-align: center;
    max-width: 99%;
    font-size: 6vw;
    font-weight: 500;
    color: #fff;
    font-family: "Cabin", serif;
    margin: 0.5% 0%;
}

.welcome-content p {
    width: 100%;
    max-width: 90%;
    text-align: center;
    line-height: 2;
    font-size: 3.75vw;
    font-weight: 300;
    color: #fff;
    font-family: 'Figtree';
    margin: 0.5% 0%;
}

.wrapper-button {
    margin: 0.5% 0%;
    width: 100%;
}

.wrapper-button button {
    width: 100%;
    max-height: 3em;
    font-size: 2em;
    max-width: 50%;
    font-weight: 200;
    font-family: 'Figtree';
    border: none;
    cursor: pointer;
    border-radius: 5px;
    background-color: #6777c6;
    color: #fafafa;
    border: 1px solid #fff;
    margin: 0.5% 0%;
}



/* --
-- */
#collection-container {
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
    height: auto;
    margin: 1% 0%;
    max-width: 100%;
    width: 100%;
    background-color: #b9b09f4d;
}

.collection-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: auto;
    height: auto;
    margin: 0%;
}

.collection-col {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: auto;
    flex-grow: 1;
    height: auto;
}

.collection-col-text {
    height: auto;
    /*     position: relative;
    z-index: 8999;*/
}

.collection-col-text h1 {
    font-size: 12vw;
    margin: 1% 0.5%;
    width: 100%;
    max-width: 100%;
    text-align: left;
    font-weight: 300;
    color: #262020;
    font-family: "Cabin", serif;
}

.collection-col-text p {
    width: 100%;
    margin: 1% 0.5%;
    max-width: 90%;
    text-align: left;
    color: #262020;
    font-family: 'Figtree';
    font-size: 3vw;
    font-weight: 200;
    line-height: 3;
}

.collection-col-img-row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: auto;
    flex-grow: 1;
}

.collection-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.collection-img img {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    max-height: 98%;
    max-width: 98%;
    margin: 0.5%;
}

.collection-img-a {
    visibility: hidden;
}



/* -- -- -- 
Info section 
-- -- -- -- -- -- */


/* -- -- -- 
Info section 
-- -- -- -- -- -- */
#info-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    height: auto;
    margin: 1% 0%;
    max-width: 100%;
    width: 100%;
    background-color: #b9b09f4d;
}

.info-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    margin: 0%;
}

.info-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-grow: 1;
    max-width: 99%;
    height: auto;
    text-wrap: wrap;
}

.info-title {
    width: 100%;
    text-align: left;
}

.info-title h1 {
    font-size: 6vw;
    margin: 1% 0.5%;
    width: 100%;
    max-width: 100%;
    text-align: left;
    font-weight: 300;
    color: #262020;
    font-family: "Cabin", serif;
}

.info-text {

    height: auto;
    /*     position: relative;
    z-index: 8999;*/
}

.info-text p {
    width: 100%;
    margin: 1% 0.5%;
    max-width: 90%;
    text-align: left;
    color: #262020;
    font-family: 'Figtree';
    font-size: 3vw;
    font-weight: 200;
    line-height: 3;
}

.info-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    max-width: 80%;
    /*    position: absolute;
    z-index: 5000;
    right: 3%;
    bottom: -76%;*/
}

.info-img img {
    max-width: 99%;
    margin: 0 auto;
}





/* -----------------
// Subscribe newsletter
----------------- */
#subscribe-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    width: 100%;
    height: auto;
    font-family: "Mulish", sans-serif;
    background-image: url('https://images.unsplash.com/photo-1616173976697-efef88b2e860?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwcm9maWxlLWxpa2VkfDMwfHx8ZW58MHx8fHx8');
    background-size: cover;
    background-position: center;
    margin: 1% 0%;
}

.subscribe-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #2c382222;
    backdrop-filter: blur(8px);
    height: auto;
    width: 100%;
    max-width: 90%;
    flex-wrap: wrap;
    margin: 1% 0.5%;
}

.subscribe-inner {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: auto;
    width: 100%;
    max-width: 99%;
    flex-wrap: wrap;
}

.subscribe-inner h1 {
    font-size: 5vw;
    margin: 1% 0%;
    color: #fff;
}

.subscribe-inner p {
    text-align: center;
    line-height: 2;
    font-size: 2.8vw;
    width: 100%;
    max-width: 99%;
    margin: 1% 0%;
    font-weight: 400;
    color: #fff;
}

.subscribe-input {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    height: auto;
    width: 100%;
    max-width: 99%;
    min-width: 0;
    margin: 0;
}

.subscribe-input input {
    width: 100%;
    height: 7vw;
    max-height: 2.8em;
    max-width: 40%;
    border: none;
    border-radius: 5px;
    color: #101415;
    margin: 0.5% 0%;
    padding: 0.5%;
    background-color: none;
    font-size: 1.8em;
    font-weight: 400;
    font-family: 'Figtree';
    cursor: pointer;
}

.subscribeBtn {
    width: 100%;
    font-size: 1.8em;
    height: 7vw;
    max-height: 2.8em;
    max-width: 20%;
    font-weight: 400;
    font-family: 'Figtree';
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin: 0.5% 0%;
    background-color: #6e7dca;
    color: #fff;
}

/* -----
about
---- */

#about-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
}

.about-title {
    width: 100%;
    margin: 0%;
}

.about-title h2 {
    font-size: 10vw;
    margin: 1% 0.5%;
    width: auto;
    max-width: 98%;
    text-align: left;
    font-weight: 300;
    color: #262020;
    font-family: "Cabin", serif;
}

.about-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-grow: 1;
    max-width: 99%;
    height: auto;
    text-wrap: wrap;
}

.about-content {
    height: auto;
}

.about-content p {
    width: 100%;
    margin: 1% 0.5%;
    max-width: 90%;
    text-align: left;
    color: #262020;
    font-family: 'Figtree';
    font-size: 3vw;
    font-weight: 200;
    line-height: 3;
}


/* -- -- -- 

SubscribeInput
--- --- --- --- --- */


/* ------------- 
// Landing page, 

products
------------- */

.categories-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    max-width: 100%;
    height: auto;
}

.product-category-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    width: 100%;
    max-height: 100%;
    height: 100%;
    font-family: 'Lato';
}

.category-img {
    max-width: 100%;
    width: 100%;
    height: auto;
    max-height: 100%;
    position: relative;
    left: 25%;
    z-index: 88000;
}

.category-name {
    font-size: 2.5em;
    font-weight: 400;
    align-self: center;
    text-align: center;
    position: absolute;
    z-index: 990000;
    max-width: 100%;
}


/* -----

---- */
.favorites-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    max-width: 100%;
    height: 500px;
}

.favorites-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    max-width: 100%;
    height: auto;
}

.favorites-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    max-width: 100%;
}

.favorites-card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    width: 30%;
    max-height: 100%;
    height: 100%;
    font-family: 'Lato';
}

.favorites-img img {
    height: auto;
    max-width: 100%;

}

.favorites-name {
    font-size: 2.5em;
    font-weight: 400;
    align-self: center;
    text-align: center;
    position: absolute;
    z-index: 990000;
    max-width: 100%;
    background-color: #d1d1d12f;
    color: #101415;
    padding: 2.5%;
    backdrop-filter: blur(5px);
}


/* -- -- -- --

-- -- -- -- -- -- */
#banner-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    max-width: 100%;
    height: auto;
    background-color: #6e7dca;
    margin: 1% 0%;
}

.banner-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
    max-width: 100%;
}

.banner-inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: auto;
    width: 100%;
    max-width: 99%;
    margin: 2% 0%;
}

.banner-title {
    width: 100%;
    max-width: 99%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.banner-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    max-width: 99%;
    height: auto;
    flex-basis: 100%;
    color: #fff;
    line-height: 3;
}



/* -- -- -- --

-- -- -- -- -- -- */

#banner-container-li {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: auto;
    max-width: 100%;
    width: 100%;
    background-color: #428f50;
    margin: 1% 0%;
}

.banner-content-li {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: auto;
    height: auto;
    margin: 0%;
}

.banner-img {
    height: auto;
    flex-grow: 1;
    width: 100%;
    max-width: 39%;
    box-shadow: 1px -2px 10px 10px rgba(0, 0, 0, 0.23);
    border-radius: 5px;
}

.banner-img img {
    max-width: 99%
}

.banner-inner-li {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 100%;
    max-width: 99%;
}

.banner-title-li {
    width: 100%;
    max-width: 98%;
    height: 100%;
}

.banner-title h1,
.banner-title-li h1 {

    width: 100%;
    max-width: 100%;
    text-align: left;
    font-weight: 300;
    font-size: 7vw;
    color: #fff;
    margin: 1% 0.5%;
    font-family: "Cabin", serif;
}

.banner-li {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    height: auto;
    width: 100%;
    max-width: 80%;
    margin-left: 1%;
    height: 100%;
    font-size: 1em;
}

.banner-li ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 99%;
    flex-wrap: wrap;
    list-style-position: inside;
}

.banner-text p,
.banner-li ul li {
    max-width: 90%;
    margin: 1% 0.5%;
    text-align: left;
    list-style-position: inside;
    list-style: circle;
    line-height: 2;
    font-family: 'Figtree';
    font-size: 3vw;
    font-weight: 200;
    color: #fafafa;
}

/* --=

header, footer
---------------- */

header {
    height: 150px;
    width: 100%;
    margin: 0;
    max-width: 100%;
    background-color: #f6f6f6;
}

.header-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 100%;
    height: 100%;
    font-family: "Figtree", sans-serif;
}

.header-logo {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: auto;
    flex-grow: 1;
}

.header-logo h1 {
    color: #262020;
}

.header-logo img {
    height: auto;
    width: auto;
    margin: 0.5%;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 80%;
    width: 100%;
    max-width: 40%;
    margin: 0.5%;
}

.nav-link,
.nav-link a {
    color: #262020;
    font-size: 1.5vw;
    font-weight: 300;
    text-align: center;
    align-self: center;
}

.nav-link:hover {
    color: #262020;
}

footer {
    height: auto;
    min-height: 250px;
    height: 280px;
    max-width: 100%;
    width: 100%;
    margin: 0;
    background-color: #f6f6f6;
}

.footer-content {
    background-color: #f6f6f6;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 100%;
    max-width: 100%;
    margin: 0;
}

.footer-main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.footer-left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: auto;
    height: auto;
}

.footer-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: auto;
    height: 100%;
    flex-grow: 1;
}

.footer-center h3 {
    font-family: "Figtree", serif;
    font-size: 3vw;
    font-weight: 300;
    height: auto;
}

.footer-center ul {
    max-width: 99%;
    height: auto;
}

.footer-center ul li {
    list-style-position: inside;
    line-height: 2;
    font-family: 'Figtree';
    font-size: 1.5vw;
    max-width: 99%;
    list-style: none;
}

.footer-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    flex-grow: 1;
    height: 100%;
}

.footer-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    max-width: 98%;
}

#socialIcon {
    height: 50px;
    width: 50px;
}

.footer-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    max-width: 50%;
    height: auto;
}

.footer-logo img {
    height: auto;
    width: auto;
    margin: 0.5%;
    align-self: center;
}


@media only screen and (min-width: 980px) {

    .container {
        max-width: 89%;
        margin: 0 auto;
    }

    .welcome-container {
        height: 100%;
    }

    .welcome-content {
        justify-content: space-between;
        align-items: center;
        height: 800px;
    }

    .welcome-content h1 {
        width: 100%;
        height: auto;
        text-align: center;
        max-width: 99%;
        font-size: 4vw;
        font-weight: 500;
        color: #fff;
        font-family: "Cabin", serif;
        margin: 0.5% 0%;
    }

    .welcome-content p {
        height: auto;
        width: 100%;
        max-width: 79%;
        text-align: center;
        line-height: 3;
        font-size: 2vw;
        font-weight: 300;
        color: #fff;
        font-family: 'Figtree';
        margin: 0.5% 0%;

    }

    .wrapper-button {
        margin: 1% 0%;
    }

    .wrapper-button button {
        width: 100%;
        font-size: 1.8em;
        height: 7vw;
        max-height: 2.8em;
        max-width: 25%;
        font-weight: 400;
        font-family: 'Figtree';
        border: none;
        cursor: pointer;
        border-radius: 5px;
        background-color: #6777c6;
        color: #fafafa;
        border: 1px solid #fff;
        margin: 0%;
    }

    .info-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .collection-content {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: auto;
        height: auto;
        margin: 1% 0%;
        max-width: 100%;
        width: 100%;
    }

    .collection-col {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: auto;
        flex-grow: 1;
        max-width: 99%;
        height: auto;
    }

    .collection-img-a {
        visibility: visible;
    }
}